VITE_SUPABASE_URL="https://qrlhvyzjfdevcnjjqmaz.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFybGh2eXpqZmRldmNuampxbWF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQzMzMzMTUsImV4cCI6MjA2OTkwOTMxNX0.Kf-hGtYXbYCcIcO9ggoMCBgBbs9bvgFoLH0rQplRsT8"